{% extends "base.html" %}

{% block title %}About | CREATe Visualisations{% endblock %}
{% block description %}Data visualisations of the CREATe copyright evidence wiki.{% endblock %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container">
    <h1>CREATe Copyright Study Visualisations</h1>

    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis orci et lectus porta porta. Etiam non ornare dolor. Ut eleifend dui sed dapibus cursus. Sed ut tellus ex. Vestibulum dapibus odio eget nisl fringilla, eget sagittis felis ultrices. Nam sit amet nisl nibh. Morbi orci eros, dignissim ac augue sit amet, egestas cursus diam. Nulla nec viverra libero, non maximus ex. Donec nec magna a felis dapibus lobortis. Mauris ut dolor elementum, venenatis augue id, eleifend risus. Curabitur sit amet pulvinar dui, at finibus libero. Pellentesque dignissim mi nec dolor sollicitudin sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed eget tincidunt dolor.</p>

    <p>Proin lacinia rhoncus vestibulum. Nulla facilisi. Nulla suscipit erat at orci ultricies ultrices. Curabitur facilisis justo tellus, ut feugiat libero iaculis quis. Nulla non est posuere est aliquam interdum. Aliquam vehicula metus ut mauris porta porttitor. Vestibulum auctor blandit imperdiet. Morbi ac massa tortor. Aenean ac sapien libero.</p>
</div>
{% endblock %}
