{% extends "vis.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
{% endblock css %}

{% block title %} Dynamic Chart | CREATe Visualisations {% endblock %}
{% block description %}A dynamically generated chart from CREATe copyright evidence studies. {% endblock %}

{% block vis %}
<div class="dynamic-chart-container">
    <div>
        <canvas id="myChart"/>
    </div>
</div>
{% endblock %}

{% block controls %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-group chart-controls">
            <div class="control">
                <label>Field</label>
                <select id="field" class="form-control" onchange="fieldDropdownChange(this);">
                    {% for prop in properties %}
                    {% if prop == current_field  %}
                    <option selected value="{{ prop }}" > {{ prop }} </option>
                    {% else %}
                    <option value="{{ prop }}" > {{ prop }} </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="control">
              <label for="value">Values</label>
              <select id="value" class="form-control" onchange="changeChart(this);">
                  {% for val in values %}

                  {% if val == current_value %}
                    <option selected value="{{ val }}"> {{ val }}</option>
                  {% else %}
                    <option value="{{ val }}"> {{ val }}</option>
                  {% endif %}

                  {% endfor %}
              </select>
            </div>
            <div class="control">
                <label for="aggregate_on">Aggregate on</label>
                <select id="aggregate_on" onchange="changeChart(this)" class="form-control">
                    {% for val in properties %}

                    {% if val == current_aggregate_on %}
                      <option selected value="{{ val }}"> {{ val }}</option>
                    {% else %}
                      <option value="{{ val }}"> {{ val }}</option>

                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div for="control">
              <label for="chart_type">Chart type</label>
              <select id="chart_type" onchange="changeChart(this)" class="form-control">
                <option selected value="pie">Pie</option>
                <option value="doughnut"> Doughnut </option>
                <option value="bar">Bar</option>
                <option value="horizontalBar"> Horizontal Bar </option>
                <option value="line">Line</option>
              </select>
            </div>
            <div class="control">
              <label for="max_results">Maximum results</label>
              <select id="max_results" onchange="changeChart(this)" class="form-control">
                  <option value="None">None</option>
                {% for val in range(1,21) %}
                  <option value="{{ val }}"> {{val}} </option>
                {% endfor %}
              </select>
            </div>
            <div class="control">
              <label for="sort_by">Sort by</label>
              <select id="sort_by" onchange="changeChart(this)" class="form-control">
                  <option value="Alphabetical">Alphabetical</option>
                  <option value="Ascending">Ascending</option>
                  <option value="Descending">Descending</option>
              </select>
            </div>
            <button class="btn btn-sm btn-primary"
                    onclick="downloadCSV()"
                    title="Export chart data as CSV">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export
            </button>
            <button class="btn btn-sm btn-primary"
                    onclick="downloadChartImage()"
                    title="Download chart image">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Download
            </button>
        </form>
    </div>
</div>

<hr>
{% endblock %}

{% block heading %}
Dynamic Chart
{% endblock %}

{% block explanation %}
Create a chart by aggregating study data and displaying it in some visualization.
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
<script src="static/js/my_chart.js"></script>
{% endblock %}
