{% extends "vis.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
{% endblock css %}

{% block title %} Dynamic Chart | CREATe Visualisations {% endblock %}
{% block description %}A dynamically generated chart from CREATe copyright evidence studies. {% endblock %}

{% block vis %}
<div class="dynamic-chart-container">
    <div>
        <canvas id="myChart"/>
    </div>
    <div>
      <a class="download-data" onclick="downloadCSV()" href="#">Export Chart Data</a>
    </div>
    <div class="aggregation-options">
        <div>
            <label>Field</label>
            <select class="field" onchange="fieldDropdownChange(this);">
                {% for prop in properties %}
                {% if prop == current_field  %}
                <option selected value="{{ prop }}" > {{ prop }} </option>
                {% else %}
                <option value="{{ prop }}" > {{ prop }} </option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
          <label>Values</label>
          <select class="value" onchange="changeChart(this);">
              {% for val in values %}

              {% if default_value and val == default_value %}
                <option selected value="{{ val }}"> {{ val }}</option>
              {% else %}
                <option value="{{ val }}"> {{ val }}</option>
              {% endif %}

              {% endfor %}
          </select>
        </div>
        <div>
            <label>Aggregate on</label>
            <select onchange="changeChart(this)" class="aggregate_on">
                {% for val in properties %}

                {% if default_aggregate and val == default_aggregate %}
                  <option selected value="{{ val }}"> {{ val }}</option>
                {% else %}
                  <option value="{{ val }}"> {{ val }}</option>

                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
          <label> Chart type </label>
          <select onchange="changeChart(this)" class="chart_type">
            <option selected value="pie">Pie</option>
            <option value="bar">Bar</option>
            <option value="line">Line</option>
          </select>
        </div>
        <div>
          <label> Maximum results </label>
          <select onchange="changeChart(this)" class="max_results">
              <option value="None">None</option>
            {% for val in range(1,21) %}
              <option value="{{ val }}"> {{val}} </option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label> Sort by </label>
          <select onchange="changeChart(this)" class="sort_by">
              <option value="Alphabetical">Alphabetical</option>
              <option value="Ascending">Ascending</option>
              <option value="Descending">Descending</option>
          </select>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}

{% block heading %}
Dynamic Chart
{% endblock %}

{% block explanation %}
Create a chart by aggregating study data and displaying it in some visualization.
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://npmcdn.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
<script src="static/js/my_chart.js"></script>
{% endblock %}
