{% extends "base.html" %}

{% block title %}CREATe Visualisations{% endblock %}
{% block description %}Data visualisations of the CREATe copyright evidence wiki.{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <a href="/network">
                <img class="img-responsive" width="700" height="300" src="{{ url_for('static', filename='img/network.png') }}" alt="network">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Shared Reference Network</h3>
            <h4>An interactive network visualisation</h4>
            <p>Studies are connected if they share at least one reference.</p>
            <a class="btn btn-primary" href="/network">View<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-7">
            <a href="/chart">
                <img class="img-responsive center" width="300" height="300" src="{{ url_for('static', filename='img/chart.png') }}" alt="chart">
            </a>
        </div>
        <div class="col-md-5">
            <h3> Chart</h3>
            <h4> Create a chart by dynamically selecting criteria</h4>
            <p>A dynamic chart that shows a count of the studies in a collection with a selected criteria</p>
            <a class="btn btn-primary" href="/chart">View<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Visualisation Three</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
            <a class="btn btn-primary" href="#">View<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>

    <hr>
</div>
{% endblock %}
