{% extends "base.html" %}

{% block title %}CREATe Visualisations{% endblock %}
{% block description %}Data visualisations of the CREATe copyright evidence wiki.{% endblock %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <a href="/network">
                <img class="img-responsive" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Visualisation One</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
            <a class="btn btn-primary" href="/network">View<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Visualisation Two</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
            <a class="btn btn-primary" href="#">View<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Visualisation Three</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
            <a class="btn btn-primary" href="#">View<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    
    <hr>
</div>
{% endblock %}
