{% extends "vis.html" %}

{% block title %}Analysis Method Network | CREATe Visualisations{% endblock %}
{% block description %}A network visualisation of CREATe copyright evidence studies.{% endblock %}

{% block heading %}
Shared Analysis Method Network
{% endblock %}

{% block explanation %}
Studies are connected if they share at least one analysis method.
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/method_network.js') }}"></script>
{% endblock %}
