{% extends "base.html" %}

{% block title %}Study Network | CREATe Visualisations{% endblock %}
{% block description %}A network visualisation of CREATe copyright evidence studies.{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/network.css') }}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="vis-loader" class="loading-spinner"></div>
        <div id="vis" class="col-md-8 col-md-offset-1"></div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Visualisation Heading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="disqus_thread"></div>
        </div>
    </div>

    <hr>
</div>
{% endblock %}

{% block js %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://npmcdn.com/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/network.js') }}"></script>

<script>
 (function() {
     var d = document, s = d.createElement('script');
     s.src = '//createvis.disqus.com/embed.js';
     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}