{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="//visjs.org/dist/vis.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/vis.css') }}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="vis-loader" class="loading-spinner"></div>
    </div>
</div>

<div class="container load-hidden">
    <div class="alert alert-danger" style="display: none">
        <strong>Uh oh!</strong> An error occured.
    </div>

    <div id="vis" class="vis">
      {% block vis %}
      {% endblock %}
    </div>

    <hr class="no-margin-top">

    {% block controls %}
    {% endblock %}
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
<script src="//unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
